<mat-toolbar color="primary">
  <mat-toolbar-row class="height">
    <span>OVERVIEW</span>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<div #containerRef *ngIf="!loaderService.loaderState$.getValue()">
  <ngx-charts-bar-vertical-2d
    [results]="verticalChartData"
    [view]="[containerRef.offsetWidth, 300]"
    [scheme]="colorScheme"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [groupPadding]="groupPadding"
  >
  </ngx-charts-bar-vertical-2d>

  <br>

  <ngx-charts-pie-chart
    [view]="[containerRef.offsetWidth, 300]"
    [scheme]="colorScheme"
    [results]="pieChartData"
    [legend]="false"
    [legendPosition]="legendPosition"
    [labels]="true"
    [doughnut]="true"
  >
  </ngx-charts-pie-chart>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
