* {
  font-family: 'VT323', monospace;
  max-width: 400px;
}

html, body {
  height: 100%;
  background-color: #303030;
  display: block;
  margin: auto;

}

body {
  margin: 0;
}

.height {
  height: 80px;
  font-weight: lighter;
}

